<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<title>Edit Workout</title>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">

		<h1>Edit workout</h1>
		<div class="col-md-4">
			<form th:object="${workout}" th:action="@{../save}" action="#"
				method="post">
				<input type="hidden" th:field="*{id}" class="form-control" /> <label
					for="title">Activity</label><br> <input type="text"
					th:field="*{title}" class="form-control" /><br>
				<br> <label for="author">Date</label><br> <input
					type="date" th:field="*{date}" class="form-control" /><br>
				<br> <label for="year">Duration</label><br> <input
					type="text" th:field="*{duration}" class="form-control" /><br>
				<br>

				<div style="clear: both; display: block; height: 10px;"></div>
				<label for="focuslist">Focus</label><br> <select id="focuslist"
					th:field="*{focus}" class="form-control">
					<option th:each="focus: ${focuses}" th:value="${focus.focusid}"
						th:text="${focus.name}"></option>
				</select>

				<div style="clear: both; display: block; height: 10px;"></div>
				<input type="submit" class="btn btn-success" value="Save"></input><br>
				<br>
				<button>
					<a href="/workoutlist" class="btn btn-danger">Cancel</a>
				</button>
			</form>
		</div>
	</div>

</body>
</html>